<% if logged_in? %> <!-- logged_in, current_userは未定義のメソッド、後にhelperで定義する。 -->
  <p>ログイン完了ユーザ： <%= current_user.name %></p>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>