<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <ul class="list-unstyled">
      <% @users.each do |user| %>
        <li class="media mb-3">
          <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 50 }) %>" alt="">
          <div class="media-body">
            <div>
              <%= link_to user.name, user_path(user) %>
            </div>
            <%= render 'relationships/follow_button', user: user %>
          </div>
        </li>
      <% end %>
      
    <%= paginate @users %>
    </ul>
  </div>
</div>